.newPostContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.title,
.text {
    margin: .1rem 0;
    background: #e4c6926b;
    border: none;
    border-radius: 10px;
    outline: none;
    -moz-appearance: none;
    padding: 1rem;
    color: #292727;
}

.text {
    resize: none;
    margin-bottom: 0.8rem;
}

.title::placeholder,
.text::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: rgba(49, 47, 47, 0.58);
}