.info {
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 12rem;
    height: 12rem;
    min-width: 12rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.description {
    font-size: 2rem;
    padding-left: 1rem;
}

.userName {
    padding-bottom: 1rem;
    font-weight: bold;
}

.userInfo {
    color: #312f2f;
    margin: 0;
}

.websiteLink {
    text-decoration: none;
    color: #872325;
}