.nav {
    grid-area: navbar;
    background: #312f2f;
    min-width: 16.5rem;
    height: calc(100vh - 6.1rem);

    display: flex;
    flex-direction: column;
}

.item {
    padding: 0.5rem;
}

.item:hover > .link,
.link.active{
    color: #c19445;
    font-size: 1.6rem;
    transition: all .5s ease;
}


.link {
    padding-left: 1rem;
    text-decoration: none;
    color: #ccbea5;
    font-size: 1.5rem;
}

.friendsContainer {
    margin: 2rem 1rem;
    background-color: #4f48482e;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}