.item {
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-bottom: 1px solid #312f2f;
    cursor: pointer;
}

.link {
    font-size: 1.2rem;
    color: #312f2f;
    text-decoration: none;
}

.link.active {
    font-size: 1.3rem;
    color: #872325;
}