* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-y: hidden;
}

#root::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 10px;
}

.app-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "navbar content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
}

::-webkit-scrollbar {
    width: 0;
}

